.wrap{
	
	.wrap-content{

		& h2{
			margin-bottom: 1.5rem;
			font-size: 2rem;

		}
		& #map{
			width: 90vw;
			height: 70vw;
			max-height: 25rem;
			border: 5px solid $main-color;
			box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
			border-radius: 5px;
			margin: 1rem auto 2rem;
			}
		 & .address{
			width: 8rem;
			clear: both;
			color: $background-image-color;
			font-size: 1.2rem;
			margin: 2rem auto;
			background: $main-color;
			border: 5px solid $main-color;
			border-radius: 5px;
			box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4); 
			text-align: center;
		}

			& a{
				color: $background-image-color;
				display: block;
				font-family: Pacifico;
				text-decoration: none;
				line-height: 2rem;

				&:hover{
					opacity:0.5;
				}
			}
		}

		.mail{
			width: 12rem;
			height: 12rem;
			background: url('../img/Email.png') no-repeat 90% 0;
			background-size: 10rem auto;
			margin: 0 auto;
			position: relative;

			& span{
				color: $background-image-color;
				position: absolute;
				top: 6rem;
				right: 1.5rem;
			}
	}

	.container{

		& form{
			width: 100%;
			max-width: 20rem;
			padding: 0 1em;
			text-align: left;
			margin: 0 auto;

			& label{
				display: block;
				width: 35%;
				line-height: 2em;
				float: left;
				margin-bottom: 0.5rem;
				color: $background-image-color;
			}

			 & input,
			 & textarea{
				display: block;
				float: right;
				width: 65%;
				height: 2rem;
				border: 2px solid $main-color;
				box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
				border-radius: 5px;
				margin-bottom: 0.5rem;
				padding-left: 0.5rem;
				color: $background-image-color;
				font-family: FuturaCondensed;
			}

			input:invalid {
				border:2px solid red;
			}

			& textarea{
				height: 4rem;
				margin-bottom: 1rem;
			}

			& button{
				display: block;
				width: 5rem;
				height: 2.5rem;
				clear: both;
				margin: 0 0 0 35%;
				background: #fff;
				box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
				border: 2px solid $main-color;
				border-radius: 5px;
				color: $background-image-color;
				font-family: Pacifico;
				font-size: 1.2rem;
				vertical-align: middle;
				cursor: pointer;

			}
		}
	}



	aside{
		display: none;
	}
}

@media screen and (min-width: 720px){
.wrap{

	.wrap-content{
		width: 80%;
		float: left;
		text-align: center;

	& #map{
		max-width: 33rem;

	}

	.container{
		width: 50%;
		float: left;
	}
	}
	aside{
		display: block;
		width: 20%;
		float: right;
		text-align: center;
		margin-top: 2rem;

		& h3{
			font-size: 1.5rem;
			color: $background-image-color;
			font-family: Pacifico;
			margin: 1.5rem 0;
		}

		& div{
			margin-bottom: 1rem;

			& img{
				display: block;
				width: 5rem;
				height: 5rem;
				border-radius: 50%;
				background: $background-image-color;
				background-size: contain;
				border: 5px solid $main-color;
				box-shadow: 1px 1px 5px 1px rgba(0,0,0,0.4);
				margin: 0 auto 0.5rem;
			}

			& a{
				display: block;
				font-family: Pacifico;
				color: $background-image-color;
				text-decoration: none;
				font-size: 1.2rem;
				text-align: center;

				 &:hover{
					animation: tada 2s;
				} 
			}

			& p{
				text-align: justify;
				line-height: 1.3;
				color: $background-image-color;
				margin: 0.5rem;

				& span{
					font-family: Pacifico;
				}
			}
	}
}
}
}

@media screen and (min-width: 977px){
.wrap{

	.wrap-content{

	& #map{
		max-width: 45rem;
		height: 25rem;
		}
		}
	}
}
